
	body{
		background: black;
		color: lightgray;
		font-family:serif;
		font-size: 20pt;
	}
	H1{
			color:white;
			font-family:cursive;
			font-size: 30pt;
		}
    a{
		color:gray;
		font-family:"Times new roman" serif;
	}
	/*a:hover this changes the apperance of hyperlinks when the user holds their mouse over the link*/
	a:hover{
		color: black;
		background:gray;
	}